<html>
<body>
    <select>
        <option value="mumbai" (click)="add()">Mumbai</option>
        <option value="delhi">Delhi</option>
        <option value="kolkata">Kolkata</option>
        <option value="bangalore">Bangalore</option>
      </select>
<br>
<br>
<input type="text" [(ngModel)]="search" placeholder="Serach any fields"/><br>
 <br>
 
<table border="1" width="100%">
  
    <tr>
        <th>Action</th>
        <th>Bank Name</th>
        <th>IFIC Code</th>
        <th>Bank ID</th>
        <th>Branch</th>
        <th id="b3">Address</th>
    </tr>
    
    <tr *ngFor='let a of dataMUMBAI|filter:search;let i=index'>
        <td><input type="radio" name="name" (click)="check()"></td>
        <td>{{a.branch}}</td>
        <td>{{a.ifsc}}</td>
        <td>{{a.bank_id}}</td>
        <td>{{a.city}}</td>
        <td>{{a.address}}</td>
    </tr>
</table>
</body>
</html>